/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Common CSS */
body {
	margin: 0;
	line-height: 1.5em;
	font-weight: 300;
	overflow: hidden;
}
* {
	font-family: 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
}
/* Reset CSS */
a {
	text-decoration: none;
	color: #222;
}
ul,li {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
button {
	outline: none;
	border: none;
}
input {
	outline: none;
	border: none;
}
/* Container */ 
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.container:before,
.container:after {
	animation: loading 3s linear both;
}
.container:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1;
}
.container:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(images/loader/logo.png) no-repeat center center;
	z-index: 1;
	animation: loading-icon linear 3s both;
}
.container.login {
	height: 100vh;
}
.container > div {
	width: 100%;
	padding: 20px;
}
/* Key frames */
@keyframes loading {
	0%, 90% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes loading-icon {
	0% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
		opacity: 0;
		visibility: hidden;
	}
}
/* Login */
.login-top {
	height: 70%;
	position: relative;
	text-align: center;
}
.login-top:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #6e54ea, rgba(255, 0, 150, 0.3)), url(images/login/bg.png) no-repeat center center;
	background-size: cover;
	opacity: .3;
	z-index: -1;
}
.login-detail {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
}
.login-desc input {
	width: 100%;
	padding: 12px 0 12px 40px;
	border-radius: 50px;
	margin: 6px 0;
	box-shadow: 0 5px 10px rgba(69, 45, 183, 0.40);
}
.login-desc input::placeholder {
	color: rgba(69, 45, 183, 0.5);
	font-size: 13px;
}
.login-detail > div {
	width: 100%;
}
.login-detail button {
	color: #fff;
	background: linear-gradient(60deg, #aa98ff, #6e54ea);
	font-weight: normal;
	width: 100%;
	padding: 10px;
	border-radius: 50px;
	cursor: pointer;
	transition: .35s;
	font-size: 15px;
}
.login-find {
	width: 100%;
	overflow: hidden;
	margin: 5px 0 0;
	display: flex;
	justify-content: center;
}
.login-find a {
	font-size: 12px;
	color: #fff;
	float: left;
	padding: 0 5px;
	position: relative;
}
.login-find a:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 1px;
	height: 50%;
	background: #fff;
}
.login-find a:last-child:before {
	display: none;
}
.login-bottom {
	height: 30%;
	text-align: center;
	margin: 20px 0 0;
}
.login-bottom span {
	font-size: 10px;
	position: relative;
}
.login-bottom span:before,
.login-bottom span:after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: .5px;
	width: 70%;
	background: #6e54ea;
	opacity: .2;
}
.login-bottom > span:before {
	left: -75%;
}
.login-bottom > span:after {
	right: -75%;
}
.login-bottom > span {
	font-size: 13px;
} 
.login-bottom small {
	height: calc(100% - 50px);
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 8px;
	padding: 10px 0;
}
.login-bottom small span {
	color: #6e54ea;
}
.login-btn {
	text-align: center;
	margin: 15px 0 0;
}
.login-btn a {
	border-radius: 50px;
	padding: 12px 25px;
	font-size: 10px;
	margin: 0 3px;
	transition: .35s;
	box-shadow: 0 5px 10px rgba(101, 69, 255, 0.50);
}
.login-btn a:first-child {
	background: #6e54ea;
	color: #fff;
}
.login-btn a:last-child {
	border: 2px solid #6e54ea;
	color: #6e54ea;
}
.login-btn i {
	font-size: 25px;
	vertical-align: middle;
}