.mockup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-mockup {
  border: 1px solid #ddd;
  width: 430px;
  height: 860px;
  position: relative;
  border-radius: 40px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.39);
}
.mobile-mockup:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  width: 97%;
  height: 98%;
  border-radius: 35px;
}
.iframe-url {
  /*border: 1px solid red;*/
  position: absolute;
  width: 400px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-btn {
  border:1px solid #bbb;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.26);
}
.camera {
  position: absolute;
  width: 400px;
  height: 70px;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.camera span {
  position: absolute;
  background-color: #666;
}
.camera span:nth-child(1) {
  width: 80px;
  height: 6px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.camera span:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
.camera span:nth-child(3) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 130px;
}
.volume {
 /* border: 1px solid red;*/
  position: absolute;
  width: 4px;
  height: 150px;
  right: 100%;
  top: 88px;
}
.volume span,
.power span {
  background-color: #bbb;
  position: absolute;
  width: 100%;
  height: 40px;
  border-radius: 3px 0 0 3px;
}
.volume span:nth-child(1) {
  top: 0;
  height: 30px;
}
.volume span:nth-child(2) {
  bottom: 50px;
}
.volume span:nth-child(3) {
  bottom: 0;
}
.power {
  position: absolute;
  width: 3px;
  height: 40px;
  left: 100%;
  top: 155px;
}
.power span {
  transform: rotateY(180deg);
}
.iframe-url iframe {
  width: 100%;
  height: 100%;
}