/* Google Web Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  line-height: 1.6em;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  background-color: #f8f8f8;
}
a {
  text-decoration: none;
  color: #333;
}
.login {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.login h1 {
  font-weight: normal;
  text-align: center;
  margin-top: 0;
}
.login span {
  display: block;
  font-weight: 500;
  margin-top: 5px;
}
.login label {
  display: block;
  margin: 10px 0;
}
.login a {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.login input[type=text],
.login input[type=password],
.login input[type=email] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
}
.login input[type=button] {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
  background-color: deepskyblue;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}
.login input[type=button]:hover {
  background-color: #000;
}

.login input[type=text]:hover,
.login input[type=password]:hover,
.login input[type=email]:hover {
  border: 1px solid deepskyblue;
  box-shadow: 0 0 3px deepskyblue;
}
