body {
  background-color: #ff793f;
}

.app-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app {
  width: 215px;
  height: 440px;
  transform: rotate(-40deg) skewX(10deg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  background-color: #eee;
  transition: 0.5s;
}
.app img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  border-radius: 20px;
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
  border: 1px solid #ddd;
}
.app:hover img:nth-child(1) {
  transform: translate(30px, -30px);
}
.app:hover img:nth-child(2) {
  transform: translate(60px, -60px);
}
.app:hover img:nth-child(3) {
  transform: translate(90px, -90px);
}
.app:hover img:nth-child(4) {
  transform: translate(120px, -120px);
}
.app:hover {
  box-shadow: -50px 40px 30px rgba(0, 0, 0, 0.349);
}